<%= form_with(model: taska, local: true) do |form| %>
  <% if taska.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taska.errors.count, "error") %> prohibited this taska from being saved:</h2>

      <ul>
      <% taska.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :taska_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :taska_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :taska_image %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :taska_address %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :taska_state %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :taska_phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :taska_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
