<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @taska.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @taska.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @taska.image %>
</p>

<p>
  <strong>Address:</strong>
  <%= @taska.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @taska.state %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @taska.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @taska.email %>
</p>

<%= link_to 'Edit', edit_taska_path(@taska) %> |
<%= link_to 'Back', taskas_path %>
