<%= form_with(model: leafe, local: true) do |form| %>
  <% if leafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leafe.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% leafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: :leafe_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, id: :leafe_end_date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :leafe_duration %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason, id: :leafe_reason %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :leafe_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
