      <!-- start banner Area -->
      <section class="banner-area relative about-banner" id="home"> 
        <div class="overlay overlay-bg"></div>
        <div class="container">       
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1 class="text-white">
                <%= @current_course.title %>
              </h1> 
              <p class="text-white link-nav"><%= link_to 'Home', root_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to 'Courses', courses_path %>  <span class="lnr lnr-arrow-right"></span>  <%= link_to @current_course.title, course_path %></p>
            </div>  
          </div>
        </div>
      </section>
      <!-- End banner Area -->

<!-- Start course-details Area -->
      <section class="course-details-area pt-120">
        <div class="container">
          <div class="row">
          	<div class="col-lg-12">
          		<% if notice %>
	                <div class="alert alert-success text-center" role="alert"><%= notice %></div>
	            <% end %>
	            <% if alert %>
	                <div class="alert alert-danger text-center" role="alert"><%= alert %></div>
	            <% end %>
          		<div class="card">
				  <div class="card-header">
				    Units
				  </div>
				  <div class="card-body">
				  	<% @current_course.unit.each do |unit| %>
				    <h5 class="card-title"><%= unit["title"] %></h5>
				    <p class="card-text"><%= unit["description"] %></p>
				    <% unit.attachment.each do |attach| %>
				    	<p><%= link_to File.basename(attach.url), attach.url %></p>
				    <% end %>
				    <hr>
				    <% end %>
				  </div>
				</div>
          	</div>
          </div>
        </div>  

        <div class="container mt-20">
          <div class="row">
          	<div class="col-lg-12">
          		<div class="card">
				  <div class="card-header">
				    Assignment
				  </div>
				  <div class="card-body">
				  	<% @current_course.assignment.each do |assignment| %>
					    <h5 class="card-title"><%= assignment["title"] %></h5>
					    <p class="card-text"><%= assignment["description"] %></p>
					    <% assignment.assignment_file.each do |file| %>
					    	<p><%= link_to File.basename(file.url), file.url %></p>
					<% end %>
				    <hr>
				    <% end %>
				  </div>
				</div>
          	</div>
          </div>
        </div>  
      </section>
      <!-- End course-details Area -->
      

      <!-- Start popular-courses Area --> 
      <section class="popular-courses-area section-gap courses-page">
      </section>
      <!-- End popular-courses Area -->         

      <!-- Start cta-two Area -->
      <section class="cta-two-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 cta-left">
              <h1>Not Yet Satisfied with our Trend?</h1>
            </div>
            <div class="col-lg-4 cta-right">
              <a class="primary-btn wh" href="#">view our blog</a>
            </div>
          </div>
        </div>  
      </section>
      <!-- End cta-two Area -->                     