<p id="notice"><%= notice %></p>

<h1>List Courses</h1>

 <% @courses.each do |course| %>
  <h3><%= course.title %></h3>
  <% if current_user.has_role? :admin %>
          <td><%= link_to 'Show', course %></td>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
  <div class="row">
    <td><%= course.picture %></td>
    <td><%= course.description %></td>
    <td><%= course.published %></td>
    <td><%= course.college_id %></td>
  </div>

  <div class="row" style="margin: 10px 0 10px 20px; background: aqua;">
  <% course.unit.each do |unit| %>
    <h3><%= unit.title %></h3>
    <td><%= unit.description %></td>
    <% end %>
  </div>
 <% end %> 

<br>

<% if current_user.has_role? :admin %>
<%= link_to 'New Course', new_course_path %>
<% end %>