<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @course.picture %>
</p>

<p>
  <strong>Published:</strong>
  <%= @course.published %>
</p>

<p>
  <strong>College:</strong>
  <%= @course.college_id %>
</p>

<% if current_user.has_role? :admin %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
