<%= form_with(model: assignment_mark, local: true) do |form| %>
  <% if assignment_mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment_mark.errors.count, "error") %> prohibited this assignment_mark from being saved:</h2>

      <ul>
      <% assignment_mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group ">
    <%= form.label :file %>
    <%= form.file_field :file, autofocus: true, required: true, multiple: true, class: "form-control" %>
  </div>

  <%= hidden_field_tag 'assignment_id', params[:assignment] %>

  <div class="col-md-4">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
